/*--------------------------
--Discription: Phenikka
--------------------------*/
:root {
    --dask-blue: #223771;
    --light-gray: #f0f3fd;
    --light-blue: #b2c2f0;
    --light-blue-text: #96aae0;
    --orange: #f26522;
    --dask-orange: #ec4c00;
    --sub-menu-text: #5a7adb;
    --light-blue-bg: #3c5398;
}
/*--------------------------
--Discription: UTT
--------------------------*/
/*:root {*/
/*    --dask-blue: #233871;*/
/*    --light-gray: #f0f3fd;*/
/*    --light-blue: #b2c2f0;*/
/*    --light-blue-text: #96aae0;*/
/*    --orange: #de1f26;*/
/*    --dask-orange: #c7060d;*/
/*    --sub-menu-text: #5a7adb;*/
/*    --light-blue-bg: #3c5398;*/
/*}*/
