.ld-wrapper {
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/ld/bg.png');
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
}

.ld-intro-container {
    margin: 0 auto;
    width: 1250px;
    display: flex;
    max-width: 100%;
}

.ld-logo {
    text-align: center;
    padding: 35px 10px;
}

.ld-logo img {
    max-width: 200px;
}

.ld-count-item {
    width: 20%;
    padding: 0 10px;
}

.ld-count-content {
    background: var(--dask-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 168px;
    justify-content: center;
}

.ld-count-content .icon {
    margin-bottom: 10px;
}

.ld-count-content .number {
    font-size: 37px;
    line-height: 37px;
    color: #ffffff;
}

.ld-count-content .label {
    font-size: 14px;
    color: white;
    opacity: 0.5;
    line-height: 14px;
    margin-top: 10px;
    font-style: italic;
}

.ld-lage-title {
    max-width: 600px;
    width: 100%;
    padding: 0 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--dask-blue);
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 45px;
}

.ld-lage-title::before {
    position: absolute;
    content: "";
    width: calc((100% - 225px) / 2);
    height: 2px;
    background: #ccd3e3;
    left: 0;
    top: calc(50% - 1px);
}

.ld-lage-title::after {
    position: absolute;
    content: "";
    width: calc((100% - 225px) / 2);
    height: 2px;
    background: #ccd3e3;
    right: 0;
    top: calc(50% - 1px);
}

.ld-lage-title span {
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

.intro-menu-item {
    width: 25%;
    padding: 0 10px;
}

.intro-menu-content {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    height: 80px;
    box-shadow: 0px 0px 30px 0px rgba(204, 204, 204, 1);
}

.intro-menu-content .label {
    font-size: 24px;
    display: inline;
    margin-left: 5px;
    color: var(--orange);
}

.intro-menu-content::before,
.intro-menu-content::after {
    border-radius: 10px;
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
}

.intro-menu-content::before {
    top: 0;
    right: 0;
    border-top: 2px solid var(--dask-blue);
    border-left: 2px solid var(--dask-blue);
}

.intro-menu-content::after {
    bottom: 0;
    left: 0;
    border-bottom: 2px solid var(--dask-blue);
    border-right: 2px solid var(--dask-blue);
}

.intro-menu-content:hover::before,
.intro-menu-content:hover::after {
    width: 100%;
    height: 99%;
    opacity: 1;
    transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
}

.ld-copyright {
    text-align: center;
    font-size: 14px;
    margin-top: auto;
    padding: 10px
}


/* ld-page */

.ld-page .ld-content {
    width: 100%;
    background: linear-gradient(to bottom, var(--light-gray), var(--light-blue));
    margin-top: 55px;
}

.ld-menu-icon {
    font-size: 24px;
    padding-left: 15px;
    line-height: 24px;
    color: var(--light-blue-text);
}

.ld-logo-head img {
    height: 40px;
    margin-left: 25px;
}

.ld-content-left {
    width: 400px;
    padding: 0 12.5px;
}

.ld-content-right {
    width: calc(100% - 400px);
    padding: 0 12.5px;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 12.5px;
}

.ld-page-count-item {
    margin-bottom: 15px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.ld-page-count-item .number {
    font-size: 48px;
    color: white;
    line-height: 48px;
}

.ld-page-count-item .label {
    font-style: italic;
    color: white;
    line-height: 24px;
    margin-top: 5px;
}

.ld-page-count-item .icon {
    margin-left: auto;
}

.ld-page-count-item .icon img {
    height: 70px;
}

.ld-page-count-item:nth-child(1) {
    background: #7583a9;
}

.ld-page-count-item:nth-child(2) {
    background: #5f6f9b;
}

.ld-page-count-item:nth-child(3) {
    background: #4a5c8d;
}

.ld-page-count-item:nth-child(4) {
    background: #36497f;
}

.ld-page-count-item:nth-child(5) {
    background: #233871;
}

.ld-page .breadcrumb li,
.ld-page .breadcrumb li a {
    color: #96aae0;
}

.ld-page .breadcrumb-item+.breadcrumb-item::before {
    font-family: "Font Awesome 5 Pro";
    float: left;
    padding-right: 0.5rem rem;
    color: #96aae0;
    content: "\f054";
    font-size: 14px;
    margin-top: 2px;
}


/* chart */

.chart-wrap {
    margin-left: 50px;
    font-family: sans-serif;
    height: 650px;
    width: 300px;
}

.chart-wrap .title {
    font-weight: bold;
    font-size: 1.62em;
    padding: 0.5em 0 1.8em 0;
    text-align: center;
    white-space: nowrap;
}

.chart-wrap.vertical .grid {
    transform: translateY(-175px) translateX(175px) rotate(-90deg);
}

.chart-wrap.vertical .grid .bar::after {
    transform: translateY(-50%) rotate(45deg);
    display: block;
}

.chart-wrap.vertical .grid::before,
.chart-wrap.vertical .grid::after {
    transform: translateX(-0.2em) rotate(90deg);
}

.chart-wrap .grid {
    position: relative;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid #aaa;
    background: repeating-linear-gradient(90deg, transparent, transparent 19.5%, rgba(170, 170, 170, 0.7) 20%);
}

.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: "0%";
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: "100%";
    position: absolute;
    right: -1.5em;
    top: -1.5em;
}

.chart-wrap .bar {
    width: calc(var(--bar-value) / 1);
    height: 50px;
    margin: 30px 0;
    background-color: #f16335;
    border-radius: 0 3px 3px 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}

.bar {
    height: calc((var(--bar-value) / 7000) * 255px);
    flex: 1;
    margin-left: 3px;
    position: relative;
    max-width: 26px;
}

.bar-group {
    display: flex;
    align-items: end;
    flex: 1;
    padding-left: 20px;
    position: relative;
    max-width: 136px;
}

.bar-group:last-child {
    padding-right: 23px;
    max-width: 159px;
}

.chart-wrapper.legend-u .bar-group:last-child {
    padding-right: 0;
    max-width: 136px;
}

.bar-group::after {
    content: attr(data-name-gr);
    position: absolute;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    font-size: 12px;
    text-align: center;
    bottom: -30px;
    color: #666666;
    left: 12px;
    white-space: inherit;
    top: calc(100% - 8px);
    line-height: 12px;
}

.ld-content-box {
    box-shadow: 0px 0px 30px 0px rgba(204, 204, 204, 1);
    background: white;
    border-radius: 10px;
}

.ld-content-box-w {
    padding: 0 0.75rem;
    width: 50%;
}

.chart-wrapper {
    padding: 12px 5px;
    display: flex;
}

.chart-box .ticks {
    position: absolute;
    width: calc(100% + 4px);
    height: 100%;
    left: -4px;
}

.chart-box .ticks .tick {
    height: calc(100% / 7);
    border-top: solid 1px #f2f2f2;
    position: relative;
}

.chart-box .ticks .tick p {
    margin-bottom: 0;
    position: absolute;
    left: -36px;
    top: -10px;
    width: 35px;
    font-size: 12px;
    color: #666666;
    text-align: right;
}

.chart-content {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
}

.chart-content::before {
    content: "";
    position: absolute;
    background: #e6e6e6;
    width: 1px;
    height: calc(100% + 14px);
    bottom: -4px;
    left: 0;
}

.chart-content::after {
    content: "";
    position: absolute;
    background: #e6e6e6;
    height: 1px;
    width: calc(100% + 4px);
    bottom: 0;
    left: -4px;
}

.chart-box {
    display: flex;
    flex: 1;
    position: relative;
    margin-left: 40px;
}

.box-title {
    padding: 11px;
    border-bottom: solid 1px #e3e3e3;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.box-title span {
    margin-left: 10px;
    font-weight: bold;
    color: var(--dask-blue);
}

.chart-legend {
    padding: 0 10px;
    width: fit-content;
    margin-top: -10px;
}

.chart-legend .legend-item {
    display: flex;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 15px;
}

.chart-legend .legend-item .color {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: 3px;
}

.chart-tooltip {
    position: absolute;
    width: 160px;
    background: white;
    z-index: 9;
    border-radius: 6px;
    top: -50px;
    opacity: 2;
    border: solid 1px;
    padding: 5px;
    display: none;
}

.chart-tooltip p {
    font-size: 13px;
    margin-bottom: 0px;
}

.chart-tooltip .tt-title {
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px #e1e1e1;
    margin-bottom: 5px;
    padding-bottom: 4px;
}

.bar:hover .chart-tooltip {
    display: block;
}

.chart-vertical {
    position: relative;
    padding-top: 30px;
    margin: 0 25px;
    margin-bottom: 10px;
}

.chart-vertical .bar {
    height: 25px;
    margin-top: 8px;
    width: calc(((var(--bar-value) / 300) *100%));
    margin-left: 0;
    position: relative;
    max-width: initial;
}

.chart-vertical .ticks {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 20px;
    font-size: 12px;
    color: #666666;
    z-index: 0;
}

.chart-vertical .ticks .tick {
    border-left: solid 1px #f2f2f2;
    width: calc(100% / 4);
    position: relative;
}

.chart-vertical .ticks .tick p {
    position: absolute;
    top: -18px;
    width: 30px;
    text-align: center;
    left: -15px;
}

.chart-vertical::before {
    content: "";
    width: calc(100% + 4px);
    height: 1px;
    background: #c3c3c3;
    position: absolute;
    left: -4px;
    top: 25px;
    z-index: 1;
}

.chart-vertical .bar .text {
    font-size: 13px;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
}

.chart-vertical .chart-tooltip {
    right: -100px;
    top: 50%;
    text-align: left;
}

.bar:hover {
    box-shadow: 0px 0px 45px -2px rgba(0, 0, 0, 0.75);
}

.chart-vertical .bar .text {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.chart-vertical .bar .text span:nth-child(2) {
    opacity: 0.5;
}

.chart-vert-content {
    position: relative;
    z-index: 1;
}

.chart-vertical .bar .text span:nth-child(1) {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.text-66-i {
    color: #666666 !important;
}

.ld-content-box .register-wish {
    margin: 0;
    padding: 0px 20px 0px;
}

.ld-content-box .register-wish .table {
    border: none;
}

.ld-content-box .register-wish .table tr td {
    border-bottom: solid 1px #e9e9e9;
    height: 50px;
}

.ld-content-box .register-wish .table th {
    color: #888888;
    font-size: 14px;
    min-width: 77px;
}

.ld-paging {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}

.ld-paging .item {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: solid 1px #e1e1e1;
    color: #666666;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 5px;
}

.csvc-content {
    display: flex;
    align-items: center;
}

.csvc-content .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.csvc-content .item .meta {
    margin-left: 10px;
}

.csvc-content .item .meta .number {
    font-size: 48px;
    line-height: 48px;
}

.csvc-content .item .meta .label {
    font-size: 14px;
    color: #888888;
}

.copyright.ld {
    position: relative;
    margin-left: 0;
    bottom: 10px;
}

.chart-wrapper.legend-u {
    flex-wrap: wrap;
}

.chart-wrapper.legend-u .chart-box {
    width: 100%;
}

.chart-wrapper.legend-u .chart-legend {
    width: 100%;
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
}

.chart-wrapper.legend-u .chart-legend .legend-item {
    padding: 0 10px;
}

.box-title .form-group {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.box-title .form-group label {
    margin-right: 20px;
}

.box-title .form-group select {
    font-weight: bold;
}

.tb-tooltip {
    position: absolute;
    z-index: 100;
    border: 1px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: var(--dask-blue);
    padding: 3px;
    /* color: red; */
    top: 0;
    left: 98%;
    width: 250px;
    border-radius: 6px;
    font-size: 12px;
    text-align: left;
    display: none;
}

.tb-tooltip p {
    margin-bottom: 2px;
    padding: 0 5px;
}

.tb-tooltip .title {
    font-weight: bold;
    border-bottom: solid 1px #e1e1e1;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
}

.tb-tooltip .title::after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent white transparent transparent;
    left: -12px;
    top: 9px;
}

.tb-tooltip .title::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent var(--dask-blue) transparent transparent;
    left: -14px;
    top: 9px;
}

tr:hover .tb-tooltip {
    display: block;
}

.ld-form-top {
    padding: 0 20px;
}

.ld-form-top .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ld-form-top .form-group .form-item {
    flex: 1;
}

.ld-form-top .form-group label {
    width: 57px;
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
}

.ld-content-box .register-wish .table th:first-child {
    min-width: auto;
}

.bar-group.t-column {
    justify-content: center;
}

body {
    overflow-x: hidden;
}