@import url("./fonts.css");
@import url("../bootstrap-5.3.3/css/bootstrap.min.css");
@import url("../fontawesome-pro-6.5.1-web/css/all.css");
:root {
  --color-main-dask: rgb(95, 50, 184);
  --color-main: rgb(140, 82, 255);
  --color-main-light: rgba(140, 82, 255, 0.1);
  --color-bg-scroll: rgba(140, 82, 255, 0.5);
  --color-text-dask: rgb(31, 26, 23);
  --color-text-light: #ffffff;
  --color-bg-light: #ffffff;
  --color-text-gray: rgb(118, 130, 134);
  --color-text-gray-2: rgb(86, 86, 86);
  --color-text-gray-light: rgba(31, 26, 23, 0.4);
  --color-border: rgb(233, 233, 233);
  --color-body-bg: #c4c5c3;
  --color-bg-gray-dask: rgb(150, 149, 148);
  --color-bg-gray-2: rgb(234, 237, 240);
  --color-red: rgb(220, 39, 31);
  --color-green: rgb(69, 189, 98);
  --color-blue: rgb(0, 106, 254);
  --color-sky: rgb(55, 181, 182);
  --color-link: rgb(17, 157, 255);
}

.text-link {
  color: var(--color-link) !important;
}

body {
  background: var(--color-body-bg);
  /* overflow: hidden; */
}

.chat-plugin_container {
  font-family: "Mulish";
  font-size: 16px;
  color: var(--color-text-dask);
  background: red;
}

.chat-plugin-wrap {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.chat-plugin-content {
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px var(--color-border);
  background: var(--color-bg-light);
  position: relative;
  transform: scale(0);
  opacity: 0;
  transition: ease-out 0.3s;
  position: fixed;
  right: 20px;
  bottom: 95px;
  width: 100%;
  max-width: 430px;
  transform-origin: bottom right;
}

.chat-plugin-content.chatshow {
  transform: scale(1);
  opacity: 1;
}

.chat-plugin-content::before {
  content: "";
  border-style: solid;
  border-color: transparent var(--color-bg-light) transparent
    var(--color-bg-light);
  border-width: 0 30px 20px 0;
  position: absolute;
  bottom: -14px;
  right: 65px;
}

.chat-plugin-header {
  background-image: linear-gradient(var(--color-main-dask), var(--color-main));
  border-radius: 10px;
  color: var(--color-text-light);
  padding: 16px 16px;
  position: relative;
}

.chat-plugin-close {
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 10px;
}

.chat-plugin-header-info {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.chat-plugin-header-company-logo {
  height: 64px;
  flex-shrink: 0;
  margin-right: 10px;
}

.chat-plugin-header-welcome {
  font-size: 22px;
  font-weight: 700;
}

.chat-plugin-header-p {
  font-size: 17px;
}

.chat-plugin-header-note {
  font-size: 17px;
  line-height: 25px;
}

.chat-plugin-header-note span {
  font-weight: 800;
}

.chat-plugin-body {
  padding-left: 25px;
  padding-right: 19px;
  overflow: auto;
  height: 510px;
}

/* width */

.chat-plugin-body::-webkit-scrollbar {
  width: 6px;
}

/* Track */

.chat-plugin-body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

.chat-plugin-body::-webkit-scrollbar-thumb {
  background: var(--color-bg-scroll);
  border-radius: 10px;
  display: none;
}

.chat-plugin-body:hover::-webkit-scrollbar-thumb {
  display: block;
}

/* Handle on hover */

.chat-plugin-body::-webkit-scrollbar-thumb:hover {
  background: var(--color-main);
}

.chat-plugin-body-info {
  display: flex;
  align-items: center;
}

.chat-plugin-body-company-logo {
  width: 86px;
  height: 86px;
  overflow: hidden;
  border-radius: 100%;
  flex-shrink: 0;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.chat-plugin-body-company-logo img {
  max-width: 100%;
  max-height: 100%;
}

.chat-plugin-body-invite {
  font-size: 22px;
  color: var(--color-main);
  font-weight: 700;
}

.chat-plugin-body-p {
  font-weight: 500;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.chat-plugin-body-p span {
  font-weight: 800;
}

.input-icon-left {
  position: relative;
  font-weight: 500;
  display: flex;
  margin-bottom: 12px;
}

.chat-plugin-input {
  width: 100%;
  padding: 6px 10px 6px 45px;
  border: solid 1px var(--color-border);
  border-radius: 4px;
}

.chat-plugin-input:focus {
  border-color: var(--color-main);
  outline: none;
}

.input-icon-left i {
  position: absolute;
  pointer-events: none;
  font-size: 18px;
  left: 14px;
  top: 11px;
  color: var(--color-main);
}

.chat-plugin-btn-start {
  display: flex;
  justify-content: center;
}

.chat-plugin-btn-start .btn {
  height: 46px;
  border-radius: 8px;
  border: none;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  font-size: 18px;
  font-weight: 700;
  background: var(--color-main);
  color: var(--color-text-light);
}

.chat-plugin-btn-start .btn i {
  margin-left: 15px;
}

.chat-plugin-quick-contact {
  padding-bottom: 10px;
}

.chat-plugin-quick-contact-title {
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
  position: relative;
  margin-bottom: 10px;
}

.chat-plugin-quick-contact-title::before {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-border);
  position: absolute;
  top: 50%;
}

.chat-plugin-quick-contact-title span {
  position: relative;
  padding: 0 20px;
  background: var(--color-bg-light);
}

.chat-plugin-quick-contact-item {
  height: 50px;
  border: solid 1px var(--color-border);
  border-radius: 4px;
  display: flex;
  margin-bottom: 13px;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-dask);
  text-decoration: none;
  padding: 10px;
}

.chat-plugin-quick-contact-item img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  margin-right: 15px;
}

.chat-plugin-quick-contact-item span {
  margin-right: 15px;
}

.chat-plugin-quick-contact-item i {
  margin-left: auto;
  color: var(--color-text-gray);
}

.chat-plugin_icons {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  background: var(--color-main);
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.chat-plugin-icon-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-plugin-icon-default {
  position: absolute;
  transition: ease-in-out 0.3s;
}

.chat-plugin-icon-close {
  font-size: 35px;
  color: var(--color-text-light);
  transition: ease-in-out 0.3s;
  transform: scale(0);
}

.chat-plugin_icons.chatshow .chat-plugin-icon-close {
  transform: scale(1) rotate(360deg);
}

.chat-plugin_icons.chatshow .chat-plugin-icon-default {
  transform: scale(0);
}

.chat-plugin-acction-group {
  position: relative;
}

.chat-plugin-acction-group .btn {
  font-size: 24px;
  color: var(--color-text-light);
  padding: 0;
  width: fit-content;
  height: fit-content;
  border: none;
}

.chat-plugin-acction-group .chat-plugin-action-back {
  position: absolute;
  left: 0;
}

.chat-plugin-acction-group .chat-plugin-dropdown {
  position: absolute;
  right: 0;
}

.chat-plugin-suporter-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-plugin-suporter-avatar {
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-plugin-suporter-avatar img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.chat-plugin-suporter-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.chat-plugin-suporter-note {
  font-weight: 500;
}

.chat-plugin-dropdown .dropdown-menu {
  width: 400px;
  max-width: calc(100vw - 50px);
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background: var(--color-bg-light);
}

.chat-plugin-dropdown .dropdown-menu::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent var(--color-bg-light) transparent;
  border-width: 0 5px 15px 5px;
  width: 0;
  height: 0;
  right: 10px;
  top: -10px;
}

.chat-plugin-dropdown .dropdown-menu a {
  font-weight: 500;
  color: var(--color-text-gray);
  text-decoration: none;
  padding: 5px 25px;
  display: flex;
  align-items: center;
}

.chat-plugin-dropdown .dropdown-menu a i {
  color: var(--color-main);
  margin-right: 10px;
}

.chat-plugin-dropdown .dropdown-menu a img {
  height: 16px;
  margin-right: 10px;
}

.chat-plugin-box {
  padding-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 50px;
}

.chatting-guest {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 60px;
}

.chatting-guest-content {
  background: var(--color-main-light);
  padding: 8px 20px;
  border-radius: 25px;
  line-height: 24px;
  margin-bottom: 6px;
  margin-top: 6px;
  font-weight: 500;
}

.time-sended {
  color: var(--color-text-gray-light);
  font-size: 13px;
  margin-bottom: 6px;
}

.chatting-suporter {
  display: flex;
}

.chatting-suporter .avatar {
  width: 44px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 15px;
  margin-top: 6px;
}

.chatting-suporter .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatting-suporter-content {
  background: var(--color-main);
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-text-light);
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 10px;
}

.chat-question-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 15px;
  margin-left: 60px;
}

.chat-question-item {
  border-radius: 25px;
  border: solid 1px var(--color-main);
  background: var(--color-main-light);
  padding: 12px 20px;
  display: flex;
  font-weight: 600;
  margin-bottom: 15px;
}

.chat-question-item i {
  color: var(--color-main);
  margin-top: 5px;
  margin-right: 10px;
}

.chat-plugin-footer {
  padding: 15px;
}

.chat-plugin-input-group {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.chat-plugin-input-group input {
  border: none;
  background: var(--color-bg-light);
  flex-grow: 1;
  max-width: calc(100% - 175px);
}

.chat-plugin-input-group input:focus {
  outline: none;
}

.chat-plugin-input-group button {
  margin-left: 20px;
  font-size: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
}

.chat-plugin-input-group button.emoji {
  color: var(--color-main);
}

.chat-plugin-input-group button.image {
  color: var(--color-green);
}

.chat-plugin-input-group button.file {
  color: var(--color-blue);
}

.chat-plugin-input-group button.send {
  color: var(--color-main);
}

.chat-plugin-eval-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}

.star-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.start-item {
  padding: 5px;
  font-size: 50px;
  color: var(--color-text-gray-light);
}

.chat-plugin-eval-input {
  border-radius: 4px;
  border: solid 1px var(--color-border);
  width: 100%;
  padding: 18px 20px;
  font-weight: 500;
}

.chat-plugin-eval-input:focus {
  outline: none;
  border-color: var(--color-main);
}

.chat-plugin-eval-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.chat-plugin-eval-btn-group .btn {
  border-radius: 20px;
  width: 160px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0 5px;
}

.chat-plugin-eval-btn-group .btn-cancel {
  border: solid 1px var(--color-main);
  color: var(--color-main);
}

.chat-plugin-eval-btn-group .btn-cancel i {
  margin-left: 8px;
}

.chat-plugin-eval-btn-group .btn-send {
  border: solid 1px var(--color-main);
  background: var(--color-main);
  color: var(--color-text-light);
}

.chat-plugin-eval-btn-group .btn-send i {
  margin-left: 20px;
}

/* chat main */

.chat-wrap {
  display: flex;
  height: 100vh;
}

.resizer-x {
  cursor: col-resize;
  position: relative;
}

.resizer-x::after {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
}

.resizer-x::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
}

.chat-sidebar {
  background: var(--color-bg-light);
  padding-left: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.chat-main-tab {
  width: 60px;
  background: var(--color-main-dask);
  border-radius: 30px;
  height: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.nav-tab-top .item {
  margin-left: 8px;
  border-radius: 90px 0 0 90px;
  margin-top: 8px;
  min-height: 42px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-light);
}

.nav-tab-top .item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.nav-tab-top .item.active {
  background: var(--color-bg-light);
  color: var(--color-main);
}

.nav-tab-top .item .filters {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
  color: var(--color-text-light);
  border-bottom: solid 1px rgba(225, 225, 225, 0.5);
  margin-right: 8px;
  padding-bottom: 5px;
  width: 100%;
  padding: 10px 0;
}

.nav-tab-top .item .filters i {
  font-size: 20px;
}

.nav-tab-top .item .filters span {
  opacity: 0.5;
}

.nav-tab-top .item .has-nofi {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding-right: 8px;
}

.nav-tab-top .item .has-nofi span {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: var(--color-bg-light);
  font-size: 10px;
  right: 8px;
  top: -9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-main);
}

.nav-tab-logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-compact {
  padding-left: 15px;
  flex: 1;
}

.search-contact {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-contact .search-inputs {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}

.search-contact .search-inputs input {
  height: 31px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 16px;
  border: solid 1px var(--color-border);
  padding-left: 14px;
  padding-right: 32px;
  flex: 1;
}

.search-contact .search-inputs .btn {
  color: var();
  width: auto;
  height: auto;
  padding: 0;
  color: var(--color-main);
  position: absolute;
  right: 10px;
  font-size: 14px;
}

.search-contact .search-inputs .btn:hover {
  background: none;
}

.search-contact .btn {
  padding: 0;
  font-size: 20px;
  width: 31px;
  height: 31px;
  margin-left: 15px;
  color: var(--color-main);
}

.search-contact .btn:hover {
  background: var(--color-border);
}

.search-contact .btn:last-child {
  margin-right: 6px;
}

.messager-tab {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.messager-tab a {
  font-size: 14px;
  color: var(--color-text-dask);
  text-decoration: none;
  height: 22px;
  background: var(--color-main-light);
  text-align: center;
  display: flex;
  border-radius: 15px;
  padding: 0 12px;
  margin-right: 10px;
}

.messager-tab .active a {
  background: var(--color-main);
  color: var(--color-text-light);
}

.message-sort {
  display: flex;
  font-size: 14px;
  margin-top: 30px;
  padding-right: 8px;
}

.messger-sort-item a {
  height: 22px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  padding: 0 5px;
  color: var(--color-text-dask);
}

.messger-sort-item a:hover,
.messger-sort-item .btn:hover {
  background: var(--color-main-light);
}

.messger-sort-item a i {
  font-size: 10px;
  margin-left: 5px;
  height: 6px;
}

.messger-sort-item .btn {
  height: 22px;
  padding: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: var(--color-text-gray);
  border-radius: 12px;
  padding: 0 5px;
  margin-left: 10px;
}

.messager-item {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  padding: 12px 9px;
  border-radius: 50px 0 0 50px;
}

.messager-item .message-sumany {
  margin-left: 11px;
  flex: 1;
}

.messager-item .message-sumany .time-send {
  font-size: 13px;
  color: var(--color-text-gray-light);
}

.messager-item .message-sumany .more-count {
  height: 22px;
  margin-left: 10px;
}

.messager-item:hover {
  background: var(--color-border);
}

.messager-item:hover .more .btn {
  display: block;
}

.messager-item:hover .new-massage-count {
  display: none;
}

.messager-item .image-group {
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.messager-item .group-4-img span {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  font-weight: 500;
  font-size: 10px;
  background: var(--color-main);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-light);
  bottom: 0;
  right: 0;
}

.messager-item .group-4-img img {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: 1px solid var(--color-text-light);
  position: absolute;
}

.messager-item .group-4-img img:nth-child(2) {
  bottom: 0;
  left: 0;
}

.messager-item .group-4-img img:nth-child(3) {
  top: 0;
  right: 0;
}

.messager-item .group-3-img img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid var(--color-text-light);
  position: absolute;
}

.messager-item .group-3-img img:nth-child(1) {
  bottom: 0;
  left: 0;
}

.messager-item .group-3-img img:nth-child(2) {
  top: 5px;
  right: 0;
}

.messager-item .group-2-img img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid var(--color-text-light);
  position: absolute;
}

.messager-item .group-2-img img:nth-child(1) {
  bottom: 0;
  right: 0;
}

.messager-item .single img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.message-sumany .row-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-sumany .row-top .name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.has-new-message .message-sumany .row-top .name {
  font-weight: 700;
}

.more-count {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--color-text-gray-light);
}

.more-count .more .btn {
  height: 22px;
  padding: 0;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-gray-light);
  display: none;
  border: none;
}

.more-count .more .btn.show {
  display: block;
  background: var(--color-main-light);
}

.more-count .more .btn:hover {
  background: var(--color-main-light);
}

.message-sumany .row-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-sumany .row-bottom .new-message {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 14px;
  color: var(--color-text-gray);
}

.has-new-message .message-sumany .row-bottom .new-message {
  color: var(--color-text-dask);
}

.new-massage-count {
  font-size: 13px;
  height: 17px;
  width: 28px;
  border-radius: 15px;
  color: var(--color-text-light);
  background: var(--color-main);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messager-item.active {
  background-image: linear-gradient(to right, #5f5f5e 10%, #c4c5c3 90%);
  color: var(--color-text-light);
  position: relative;
}

.messager-item.active .new-message,
.messager-item.active .time-send,
.messager-item.active .more .btn {
  color: var(--color-text-light);
}

.messager-item.active::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: -1px;
  top: -20px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 10px 0 0 #c4c5c3;
}

.messager-item.active::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: -1px;
  bottom: -20px;
  border-top-right-radius: 15px;
  box-shadow: 0px -10px 0 0 #c4c5c3;
}

.chat-wrap main {
  background: #c4c5c3;
}

.messager-list {
  height: calc(100% - 100px);
  overflow: hidden;
  position: relative;
  border-top: solid 1px var(--color-border);
  margin-top: 15px;
  padding-top: 15px;
}

.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow-y: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-element,
.scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scroll-element.scroll-x {
  display: none;
}

.scroll-element.scroll-y {
  height: 100%;
  right: 1px;
  top: 0;
  width: 5px;
}

.scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scroll-element .scroll-element_outer,
.scroll-element .scroll-element_track,
.scroll-element .scroll-bar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.scroll-element .scroll-element_track {
  background-color: transparent;
}

.scroll-element .scroll-bar {
  background-color: var(--color-main);
  opacity: 0;
}

.messager-list:hover .scroll-element .scroll-bar {
  opacity: 0.5;
}

.chat-wrap main {
  flex: 1;
}

.chat-main-nav {
  height: 55px;
  background: var(--color-main);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.user-nav-label {
  display: flex;
  align-items: center;
  color: var(--color-text-light);
  margin-right: 15px;
}

.user-nav-label img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 9px;
}

.user-nav-label .name {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.user-nav-label .position {
  font-size: 12px;
  margin-top: 4px;
}

.user-nav-label i {
  font-size: 10px;
  margin-left: 10px;
}

.chat-content-wrap {
  display: flex;
  height: calc(100% - 55px);
  overflow: hidden;
}

.chat-content-wrap .chat-content {
  flex: 1;
  height: 100%;
}

.chat-content-top {
  background: var(--color-bg-gray-dask);
  display: flex;
  align-items: center;
  padding: 7px 10px 8px 35px;
}

.chat-content-top .user-info {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.chat-content-top .user-info .avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 14px;
}

.chat-content-top .user-info .avatar img {
  width: 100%;
}

.chat-content-top .user-info .meta {
  color: var(--color-text-light);
}

.chat-content-top .user-info .user-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.chat-content-top .user-info .user-status {
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.chat-content-top .tag-dropdown {
  min-width: 170px;
  position: relative;
}

.tag-dropdown-label {
  background: var(--color-bg-light);
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 11px;
}

.tag-dropdown-label svg {
  margin-right: 7px;
}

.tag-dropdown-label i {
  font-size: 10px;
  color: var(--color-text-gray);
  margin-left: auto;
}

.tag-dropdown-menu {
  min-width: 100%;
  border: none;
  border-radius: 10px;
}

.tag-dropdown-menu li {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 5px 11px;
  height: 35px;
}

.tag-dropdown-menu li svg {
  margin-right: 7px;
}

.tag-dropdown-menu li:hover {
  background: var(--color-border);
}

.tag-dropdown-menu li a {
  text-decoration: none;
  color: var(--color-text-dask);
}

.tag-dropdown-menu li:last-child {
  border-top: solid 1px var(--color-border);
}

.tag-dropdown-menu li.active {
  background: var(--color-main);
  color: var(--color-text-light);
}

.chat-content-top .btn {
  font-size: 18px;
  padding: 0;
  height: 32px;
  width: 32px;
  border: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  border: none;
  color: var(--color-text-light);
  flex-shrink: 0;
}

.chat-content-top .btn:hover {
  background: var(--color-main);
}

.chat-content .chat-body {
  padding: 0 15px;
  height: calc(100% - 177px);
  overflow-y: scroll;
}

.chat-content .user-chatting {
  display: flex;
  align-items: end;
  margin-left: 20px;
}

.chat-date-wrap .date {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-bottom: 25px;
}

.chat-date-wrap .date span {
  font-size: 15px;
  font-weight: 600;
  background: var(--color-bg-gray-dask);
  color: var(--color-text-light);
  height: 30px;
  padding: 0 25px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-content .user-chatting .avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 14px;
  margin-bottom: 5px;
}

.chat-content .user-chatting .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-chatting-row {
  background: var(--color-bg-light);
  border-radius: 18px;
  padding: 17px 20px;
  line-height: 24px;
  margin-bottom: 12px;
  width: fit-content;
  margin-right: 140px;
  position: relative;
}

.my-chatting {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 20px;
}

.my-chatting-row {
  background: var(--color-bg-light);
  border-radius: 18px;
  padding: 17px 20px;
  line-height: 24px;
  margin-bottom: 12px;
  width: fit-content;
  margin-left: 140px;
  color: var(--color-text-light);
  background: var(--color-main);
  position: relative;
}

.chat-footer {
  padding: 12px;
  padding-top: 0;
}

.chat-footer-wrap {
  background: var(--color-bg-light);
  border-radius: 10px;
  height: 110px;
  padding: 10px;
}

.chat-body:hover .scroll-element .scroll-bar {
  opacity: 0.5;
}

.chat-footer-action {
  display: flex;
  align-items: center;
}

.chat-footer-action .action-show {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chat-footer-action .action-show .btn {
  font-size: 28px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 6px;
}

.chat-footer-action .action-show .btn:hover {
  background: var(--color-border);
}

.chat-footer-action .action-show .btn span:nth-child(2) {
  display: none;
}

.chat-footer-action .action-show .btn span:nth-child(1) {
  font-size: 34px;
  margin-bottom: 8px;
}

.chat-footer-action .action-show li {
  list-style: none;
}

.btn.btn-tagname {
  color: var(--color-red);
}

.btn.btn-sticker {
  color: var(--color-main);
}

.btn.btn-addimage {
  color: var(--color-green);
}

.btn.btn-add-file {
  color: var(--color-blue);
}

.btn.btn-add-alert {
  color: var(--color-red);
}

.btn.btn-todo {
  color: var(--color-main);
}

.btn.btn-takescreen {
  color: var(--color-sky);
}

.btn.btn-sendpossition {
  color: var(--color-sky);
}

.btn-action-more {
  font-size: 28px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 6px;
  margin-left: 20px;
  color: var(--color-text-gray);
}

.btn-action-more:hover {
  background: var(--color-border);
}

.chat-f-action-menu {
  border: none;
  font-size: 14px;
}

.chat-f-action-menu svg {
  width: 16px;
}

.chat-footer-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.chat-footer-input input {
  font-size: 16px;
  font-weight: 600;
  border: none;
  flex: 1;
  padding: 0 10px;
}

.chat-footer-input input:focus,
.chat-footer-input input:focus-visible {
  border: none;
  outline: none;
}

.chat-footer-input .btn {
  font-size: 28px;
  color: var(--color-main);
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-content-wrap aside {
  width: 340px;
  transition: all 0.3s;
}

.chat-content-wrap aside.show {
  position: relative;
  margin-right: -340px;
}

.chat-content-wrap aside img {
  max-width: 100%;
}

.user-chat-info-setting {
  background: var(--color-bg-light);
  padding: 0 16px;
  height: 100%;
}

.info-right-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  border-bottom: solid 1px var(--color-border);
  padding: 15px;
  text-align: center;
}

.user-chat-info {
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--color-border);
  padding: 16px 0;
}

.user-chat-info .avatar {
  width: 86px;
  height: 86px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
  flex-shrink: 0;
  margin-right: 16px;
}

.user-chat-info .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-chat-info .name {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.user-chat-info .name span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.user-chat-info .name a {
  color: var(--color-text-gray);
  margin-left: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.user-chat-info .name a:hover {
  background: var(--color-border);
}

.user-chat-info .info-row {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.user-chat-info .info-row i {
  font-size: 15px;
  color: var(--color-text-gray);
  margin-right: 10px;
}

.user-chat-info .info-row span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.user-chat-info .info-row a {
  color: var(--color-main);
  margin-left: 10px;
  text-decoration: none;
}

.user-info-scroll {
  height: calc(100% - 180px);
  overflow-y: scroll;
  margin-right: -16px;
  padding-right: 8px !important;
}

.user-info-scroll:hover .scroll-element .scroll-bar {
  opacity: 0.5;
}

.company-info-collapse {
  border-bottom: solid 1px var(--color-border);
  font-size: 14px;
}

.company-info-collapse .label {
  height: 40px;
  display: flex;
  align-items: center;
}

.company-info-collapse .label i {
  font-size: 18px;
  margin-right: 15px;
  width: 22px;
  text-align: center;
}

.company-info-collapse .label .fa-chevron-right {
  font-size: 12px;
  color: var(--color-text-gray);
  margin-left: auto;
  margin-right: 0;
}

.company-info-collapse .label:not(.collapsed) {
  font-weight: 700;
  color: var(--color-main);
}

.company-info-collapse .label:not(.collapsed) .fa-chevron-right {
  transform: rotate(90deg);
}

.company-info-collapse .company-info-collapse-content {
  margin-left: 37px;
}

.chat-setting-row {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-bottom: solid 1px var(--color-border);
}

.chat-setting-row i {
  font-size: 18px;
  margin-right: 15px;
  width: 22px;
  text-align: center;
}

.user-chat-tab .tab-list-nav {
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--color-border);
  padding-top: 35px;
}

.user-chat-tab .tab-list-nav .item {
  flex: 1;
  text-align: center;
  font-size: 17px;
  line-height: 22px;
  color: var(--color-text-gray);
  text-align: content;
  padding-bottom: 7px;
  text-decoration: none;
  position: relative;
}

.user-chat-tab .tab-list-nav .item.active {
  font-weight: 700;
  color: var(--color-main);
}

.user-chat-tab .tab-list-nav .item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--color-main);
  border-radius: 2px;
  left: 0;
  bottom: -2px;
}

.user-chat-tab .tab-pane-image {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px 0;
}

.user-chat-tab .tab-pane-image .item {
  width: calc((100% - 16px) / 3);
  height: 98px;
  border-radius: 4px;
  overflow: hidden;
}

.user-chat-tab .tab-pane-image .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-viewall {
  width: 100%;
  height: 36px;
  background: var(--color-bg-gray-2);
  border-radius: 18px;
  margin-bottom: 16px;
  border: none;
  font-size: 15px;
}

.btn-viewall:hover {
  background: var(--color-main);
  color: var(--color-text-light);
}

.tab-pane-file {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

.tab-pane-file .item {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.tab-pane-file .item .file-type {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.tab-pane-file .item .file-type i {
  font-size: 35px;
}

.tab-pane-file .item .meta {
  flex: 1;
}

.tab-pane-file .item .file-type span {
  position: absolute;
  color: var(--color-text-light);
}

.tab-pane-file .item .file-name {
  font-weight: 500;
  margin-bottom: 3px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tab-pane-file .item .size-date {
  color: var(--color-text-gray);
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}

.tab-pane-link {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tab-pane-link .item {
  display: flex;
  align-items: center;
}

.tab-pane-link .item .favicon {
  border-radius: 4px;
  border: solid 1px var(--color-border);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--color-text-gray);
  margin-right: 15px;
}

.tab-pane-link .item .link-title {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-weight: 500;
  margin-bottom: 3px;
  margin-top: -5px;
}

.tab-pane-link .item .link-date {
  font-size: 12px;
  color: var(--color-text-gray);
  display: flex;
  justify-content: space-between;
}

.tab-pane-link .item a {
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.dropdown-menu {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border: none;
}

.messager-item .more .dropdown-menu a {
  color: var(--color-text-gray-2);
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 20px;
}

.messager-item .more .dropdown-menu a i {
  font-size: 18px;
  margin-right: 15px;
  width: 20px;
  text-align: center;
  color: var(--color-main);
}

.messager-item .more .dropdown-menu a:hover {
  background: var(--color-bg-gray-2);
}

.modal-create-group .top {
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--color-border);
  padding-bottom: 16px;
}

.modal-create-group .top img {
  margin-right: 16px;
}

.modal-contact {
  width: 50%;
}

.modal-dialog {
  margin-top: 5px;
  margin-bottom: 5px;
}

.quick-search {
  margin-top: 16px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.quick-search i {
  color: var(--color-main);
  position: absolute;
  right: 10px;
}

.modal-contact-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.modal-contact-list .item {
  display: flex;
  align-items: center;
}

.modal-contact-list .item img {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 11px;
}

.check-custom {
  flex-shrink: 0;
}

.check-custom input {
  display: none;
}

.check-custom span {
  width: 16px;
  height: 16px;
  border: solid 1px #cccccc;
  border-radius: 100%;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  margin-left: 10px;
}

.check-custom span i {
  font-size: 12px;
  display: none;
  color: var(--color-bg-light);
}

.check-custom input:checked ~ span {
  background: var(--color-main);
  border-color: var(--color-main);
}

.check-custom input:checked ~ span i {
  display: block;
}

.modal-contact:hover .scroll-element .scroll-bar,
.modal-contact-select-list:hover .scroll-element .scroll-bar {
  opacity: 0.5;
}

.modal-contact-list,
.modal-contact-select-list {
  max-height: calc(100vh - 315px);
}

.modal-contact-selected {
  width: 50%;
  padding-left: 24px;
}

.modal-contact-selected .label {
  margin-top: 35px;
  margin-bottom: 16px;
}

.modal-contact-selected .label span {
  font-weight: 700;
  color: var(--color-main);
}

.modal-contact-select-list .item {
  display: flex;
  align-items: center;
}

.modal-contact-select-list .item img {
  width: 24px;
  height: 24px;
  margin-right: 11px;
  object-fit: cover;
  border-radius: 100%;
}

.modal-contact-select-list .item i {
  margin-left: auto;
  color: var(--color-main);
  margin-right: 10px;
}

.modal-create-group .user-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-right: 5px;
}

.quick-search .form-control {
  padding-right: 35px;
  font-size: 14px;
}

.btn-main {
  color: var(--color-text-light);
  background: var(--color-main);
}

.btn-main:hover {
  background: var(--color-main-dask);
  color: var(--color-text-light);
}

.btn-gray-2 {
  background: var(--color-bg-gray-2);
}

.btn-gray-2:hover {
  background: var(--color-bg-gray-dask);
}

.chat-f-action-menu.show {
  display: none !important;
}

.chat-f-action-menu.show li {
  display: none;
}

.chat-back {
  font-size: 20px;
  color: var(--color-text-light);
  margin-left: 16px;
  margin-right: auto;
  display: none;
}

.select2-dropdown {
  z-index: 9999;
}

.create-job-left {
  width: 50%;
  border-right: solid 1px var(--color-border);
  padding-right: 16px;
}

.modal-1200 {
  max-width: 1200px;
}

.main-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-main);
}

.create-job-name-row {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 14px;
}

.create-job-name-row .input-label-body {
  flex: 1;
}

.input-label-body {
  position: relative;
}

.input-label-body span {
  position: absolute;
  font-size: 12px;
  color: var(--color-text-gray);
  background: var(--color-bg-light);
  top: -12px;
  left: 10px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.input-label-body .form-control {
  font-size: 14px;
}

.input-label-body span span {
  position: relative;
  top: 4px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-red);
}

.create-job-name-row .input-checkbox {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.check-custom.square span {
  border-radius: 4px;
}

.create-job-ca-row {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 16px;
}

.select2-container--default .select2-selection--single {
  border: none;
  min-height: 35px;
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-search--dropdown .select2-search__field {
  display: block;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-dropdown {
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: var(--color-main);
  color: var(--color-text-light);
}

.select2-dropdown li {
  font-size: 14px;
}

.select2-search__field:focus-visible {
  outline: none;
}

.select2-container--default .select2-selection__rendered {
  position: relative;
  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection__rendered::after {
  font: var(--fa-font-light);
  content: "\f078";
  position: absolute;
  color: red;
  right: 5px;
  top: 10px;
  font-size: 14px;
  color: var(--color-text-gray-light);
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}

.select2-container--default.select2-container--open
  .select2-selection__rendered::after {
  transform: rotate(180deg);
}

.input-checkbox {
  display: flex;
  align-items: center;
}

.create-job-ca-row .input-checkbox .check-custom span {
  margin-left: 0;
}

.create-job-ca-row .input-checkbox {
  margin-right: 40px;
  margin-top: -3px;
}

.create-job-ca-row .ca-select {
  display: flex;
  align-items: center;
}

.create-job-ca-row .ca-select label {
  margin-right: 10px;
}

.create-job-ca-row .ca-select .select2-container {
  min-width: 175px;
  font-size: 14px;
}

.create-job-date-row {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-top: 16px;
}

.create-job-date-row .date-time {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 16px;
}

.create-job-date-row .date-time .date {
  width: 60%;
}

.create-job-date-row .date-time .time {
  width: 40%;
}

.create-job-date-row .date-time .quick-search {
  margin-top: 6px;
}

.text-red {
  font-size: 14px;
  color: var(--color-red);
}

.create-job-cont-ip {
  margin-top: 15px;
}

.form-control:focus,
.form-control:focus-visible {
  outline: none;
  box-shadow: none;
  border-color: var(--color-main);
}

.create-job-type-select {
  display: flex;
  gap: 25px;
  font-size: 14px;
  margin-top: 25px;
}

.create-job-type-select .type-job-select {
  width: 60%;
}

.create-job-type-select .select2-container {
  width: 100% !important;
}

.create-job-type-select .name-select {
  width: 40%;
}

.select2-label-top {
  position: relative;
}

.select2-label-top .label {
  z-index: 1;
  position: absolute;
  font-size: 12px;
  color: var(--color-text-gray);
  background: var(--color-bg-light);
  top: -14px;
  left: 10px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  display: flex;
  align-items: center;
  height: 26px;
}

.select2-label-top .label span {
  margin-top: 5px;
  margin-left: 5px;
}

.create-job-table {
  font-size: 14px;
  margin-top: 20px;
}

.create-job-table .table {
  border-color: var(--color-border);
  margin-bottom: 5px;
  min-width: 515px;
}

.table thead td {
  background: var(--color-main-light);
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.table td {
  vertical-align: middle;
}

.create-job-table-action {
  display: flex;
  align-items: center;
  gap: 14px;
}

.create-job-table-action a:last-child {
  color: var(--color-text-gray);
}

.add-file {
  text-align: right;
}

.add-file a {
  text-decoration: none;
}

.create-job-right {
  width: 50%;
  margin-left: 16px;
}

.create-job-wrap {
  display: flex;
}

.select2-container {
  width: 100% !important;
}

.create-job-multi-user-row {
  margin-top: 25px;
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border-color: var(--bs-border-color) !important;
  outline: 0;
  height: 35px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: var(--color-bg-gray-2);
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
  font-size: 14px;
  height: 20px;
  border-radius: 11px;
  border: none;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.select2-container--default .select2-selection--multiple {
  border-color: var(--bs-border-color) !important;
  height: 35px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice
  span {
  margin-left: 5px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.create-job-date-row .label {
  font-weight: 500;
}

.nav-tab-top .item .has-nofi i {
  font-size: 22px;
  font-weight: 100;
}

.nav-tab-top .item.active .has-nofi i {
  font-weight: 300;
}

.nav-tab-bottom {
  margin-top: auto;
}

.chatting-job {
  border-top: solid 1px var(--color-border);
  margin-top: 30px;
}

.chatting-job-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.chatting-job-created {
  background: rgb(242, 237, 251);
  border-radius: 18px;
  border: solid 1px var(--color-main);
  width: 100%;
  max-width: 475px;
  padding: 16px;
  font-size: 14px;
  margin-bottom: 30px;
}

.chatting-job-created .head {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: var(--color-text-gray);
  margin-bottom: 10px;
}

.chatting-job-created .center {
  padding-left: 14px;
  position: relative;
}

.chatting-job-created .center::before {
  content: "";
  width: 4px;
  height: 100%;
  background: var(--color-main);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
}

.chatting-job-created .job-content {
  line-height: 20px;
}

.chatting-job-created .job-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.chatting-job-created .foot {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.chatting-job-created .foot .btn {
  flex: 1;
  width: fit-content;
  font-size: 15px;
  font-weight: 700;
}

.chatting-job {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.chatting-job .chatting-job-alert-row {
  background: var(--color-bg-light);
  border-radius: 18px;
  padding: 8px 20px;
  width: fit-content;
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.chatting-job .chatting-job-alert-row .user {
  font-weight: 700;
  display: flex;
  align-items: center;
}

.chatting-job .chatting-job-alert-row .user img {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 10px;
}

.chatting-job .chatting-job-alert-row i {
  color: var(--color-main);
  font-size: 20px;
}

.chatting-job .chatting-job-alert-row a {
  text-decoration: none;
  font-weight: 700;
}

.chatting-job .chatting-job-alert-row .fw-bolder {
  font-weight: 800;
}

.tag-dropdown-menu label {
  display: flex;
  align-items: center;
  width: 100%;
}

.tag-dropdown-menu label span {
  margin-left: 0;
}

.messger-sort-item .label {
  font-weight: 500;
}

.messger-sort-item .label:hover {
  background: transparent;
}

.messger-sort-item li a:hover {
  background: transparent;
}

.mod-tag-item {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 40px;
  padding: 0 15px;
  justify-content: space-between;
  font-size: 14px;
}

.mod-tag-item:hover {
  background: var(--color-main-light);
}

.mod-tag-item .action a {
  color: var(--color-text-gray);
  margin-left: 10px;
  display: none;
}

.mod-tag-item .action a:hover {
  color: var(--color-main);
}

.mod-tag-item:hover .action a {
  display: inline-block;
}

.mod-tag-item .cont {
  display: flex;
  align-items: center;
}

.mod-tag-item .cont span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-left: 10px;
}

.add-tag-wrap {
  display: flex;
}

.add-tag-dropdown .check-custom span {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.add-tag-dropdown .dropdown-menu {
  padding: 10px;
}

.add-tag-dropdown .dropdown-menu p {
  margin-bottom: 5px;
  padding: 0 5px;
  color: var(--color-text-gray-light);
}

.add-tag-dropdown .dropdown-menu .dropdown-tag-list {
  display: flex;
}

.add-tag-dropdown .dropdown-menu .dropdown-tag-list .check-custom span i {
  font-size: 20px;
}

.add-tag-dropdown .btn-add-tag {
  border: none;
}

.btn-outline-main {
  border-color: var(--color-main);
  color: var(--color-main);
}

.btn-outline-main:hover {
  background: var(--color-main);
  color: var(--color-text-light);
}

.line-box-aside {
  width: 100%;
  height: 8px;
  background: var(--color-border);
}

.text-main {
  color: var(--color-main);
}

.text-gray {
  color: var(--color-text-gray);
}

.group-chat-info .avatar {
  background: #eaedf0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-chat-info .avatar img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-text-light);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-main);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-main);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.chat-setting-row .switch {
  margin-left: auto;
}

.chat-group-info-desc {
  font-size: 14px;
  padding: 10px 0;
}

.chat-group-info-desc .label {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.chat-group-info-desc .label span {
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  color: var(--color-main);
}

.chat-group-info-desc .label svg {
  margin-right: 15px;
}

.chat-group-info-desc .label a {
  color: var(--color-text-gray);
  margin-left: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-left: auto;
  font-size: 16px;
}

.chat-group-info-desc .label a:hover {
  background: var(--color-border);
}

.chat-group-info-desc p {
  margin-bottom: 0;
  color: rgb(188, 190, 192);
  margin-left: 35px;
}

.chat-setting-row .icon-end i {
  margin-right: 0;
  font-size: 12px;
}

.user-info-scroll {
  padding-bottom: 100px !important;
}

.chat-setting-row svg {
  margin-right: 15px;
  width: 22px;
  text-align: center;
}

.chatting-row-action {
  position: absolute;
  align-items: center;
  gap: 8px;
  right: -140px;
  padding-left: 10px;
  display: none;
  cursor: pointer;
  bottom: 20px;
}

.user-chatting-row:hover .chatting-row-action {
  display: flex;
}

.chatting-row-emoji {
  position: absolute;
  z-index: 1;
  bottom: -13px;
  right: 22px;
}

.chatting-row-emoji .hover {
  display: none;
}

.chatting-row-emoji:hover .hover {
  display: block;
}

.chatting-row-emoji:hover .curent {
  display: none;
}

.chatting-row-emoji .emoji-list {
  display: none;
  background: var(--color-bg-light);
  position: absolute;
  gap: 10px;
  padding: 10px 30px;
  bottom: 26px;
  border-radius: 30px;
  border: solid 1px var(--color-main);
  right: -20px;
}

.chatting-row-emoji:hover .emoji-list {
  display: flex;
}

.chatting-row-emoji:hover ~ .chatting-row-action {
  display: none;
}

.my-chatting-row .chatting-row-action {
  right: auto;
  left: -140px;
  padding-right: 10px;
  padding-left: 0;
}

.my-chatting-row:hover .chatting-row-action {
  display: flex;
}
