/* minwidth */

@media (min-width: 1025px) {
}

@media (min-width: 1920px) {
}

/* maxwidth */

@media (max-width: 1920px) {
}

@media (max-width: 1360px) {
}

@media (max-width: 1280px) {
  .chat-content-wrap {
    position: relative;
    overflow: hidden;
  }
  .chat-content-wrap aside {
    margin-right: 0;
    width: 340px;
    position: absolute;
    background: var(--color-bg-light);
    height: 100%;
    top: 0;
    right: -340px;
    transition: all 0.3s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  .chat-content-wrap aside.show {
    right: 0;
    margin: 0;
    position: absolute;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1140px) {
  .create-job-left {
    width: 545px;
  }
  .create-job-right {
    width: auto;
    flex: 1;
  }
}

@media (max-width: 1080px) {
  .chat-content-top {
    padding-left: 16px;
  }
  .chat-f-action-menu.show {
    display: block !important;
  }
}

@media (min-width: 1280px) and (max-width: 1550px) {
  .chat-f-action-menu.show li:nth-child(1) {
    display: block;
  }
  .action-show .btn:nth-child(11) {
    display: none;
  }
}

@media (min-width: 1280px) and (max-width: 1490px) {
  .chat-f-action-menu.show li:nth-child(1),
  .chat-f-action-menu.show li:nth-child(2) {
    display: block;
  }
  .action-show .btn:nth-child(11),
  .action-show .btn:nth-child(10) {
    display: none;
  }
}

@media (min-width: 1280px) and (max-width: 1430px) {
  .chat-f-action-menu.show li:nth-child(1),
  .chat-f-action-menu.show li:nth-child(2),
  .chat-f-action-menu.show li:nth-child(3) {
    display: block;
  }
  .action-show .btn:nth-child(11),
  .action-show .btn:nth-child(10),
  .action-show .btn:nth-child(9) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1180px) {
  .chat-f-action-menu.show li:nth-child(1) {
    display: block;
  }
  .action-show .btn:nth-child(11) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1124px) {
  .chat-f-action-menu.show li:nth-child(1),
  .chat-f-action-menu.show li:nth-child(2) {
    display: block;
  }
  .action-show .btn:nth-child(11),
  .action-show .btn:nth-child(10) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1064px) {
  .chat-f-action-menu.show li:nth-child(1),
  .chat-f-action-menu.show li:nth-child(2),
  .chat-f-action-menu.show li:nth-child(3) {
    display: block;
  }
  .action-show .btn:nth-child(11),
  .action-show .btn:nth-child(10),
  .action-show .btn:nth-child(9) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .chat-f-action-menu.show li:nth-child(1),
  .chat-f-action-menu.show li:nth-child(2),
  .chat-f-action-menu.show li:nth-child(3),
  .chat-f-action-menu.show li:nth-child(4) {
    display: block;
  }
  .action-show .btn:nth-child(11),
  .action-show .btn:nth-child(10),
  .action-show .btn:nth-child(9),
  .action-show .btn:nth-child(8) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 950px) {
  .chat-f-action-menu.show li:nth-child(1),
  .chat-f-action-menu.show li:nth-child(2),
  .chat-f-action-menu.show li:nth-child(3),
  .chat-f-action-menu.show li:nth-child(4),
  .chat-f-action-menu.show li:nth-child(5) {
    display: block;
  }
  .action-show .btn:nth-child(11),
  .action-show .btn:nth-child(10),
  .action-show .btn:nth-child(9),
  .action-show .btn:nth-child(8),
  .action-show .btn:nth-child(7) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 890px) {
  .chat-f-action-menu.show li:nth-child(1),
  .chat-f-action-menu.show li:nth-child(2),
  .chat-f-action-menu.show li:nth-child(3),
  .chat-f-action-menu.show li:nth-child(4),
  .chat-f-action-menu.show li:nth-child(5),
  .chat-f-action-menu.show li:nth-child(6) {
    display: block;
  }
  .action-show .btn:nth-child(11),
  .action-show .btn:nth-child(10),
  .action-show .btn:nth-child(9),
  .action-show .btn:nth-child(8),
  .action-show .btn:nth-child(7),
  .action-show .btn:nth-child(6) {
    display: none;
  }
}

@media (max-width: 820px) {
  .modal-body {
    height: calc(100vh - 147px);
    overflow-y: scroll;
  }
  .scroll-element_outer {
    display: none;
  }
  .create-job-wrap {
    flex-wrap: wrap;
  }
  .create-job-left {
    width: 100%;
    border: none;
    padding: 0;
  }
  .create-job-right {
    width: 100%;
    padding: 0;
    margin-top: 30px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .create-job-date-row {
    gap: 20px;
  }
  .chat-wrap {
    overflow: hidden;
  }
  .chat-sidebar {
    width: 100%;
    flex: 1 !important;
  }
  .resizer-x {
    display: none;
  }
  .chat-wrap main {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    transition: all 0.3s;
  }
  .chat-wrap main.show {
    right: 0;
  }
  .chat-back {
    display: block;
  }
}

@media (max-width: 828px) {
  .chat-f-action-menu.show li:nth-child(1) {
    display: block;
  }
  .action-show .btn:nth-child(11) {
    display: none;
  }
}

@media (max-width: 768px) {
  .chat-f-action-menu.show li:nth-child(1),
  .chat-f-action-menu.show li:nth-child(2),
  .chat-f-action-menu.show li:nth-child(3) {
    display: block;
  }
  .action-show .btn:nth-child(11),
  .action-show .btn:nth-child(10),
  .action-show .btn:nth-child(9) {
    display: none;
  }
}

@media (max-width: 708px) {
  .chat-f-action-menu.show li:nth-child(1),
  .chat-f-action-menu.show li:nth-child(2),
  .chat-f-action-menu.show li:nth-child(3),
  .chat-f-action-menu.show li:nth-child(4) {
    display: block;
  }
  .action-show .btn:nth-child(11),
  .action-show .btn:nth-child(10),
  .action-show .btn:nth-child(9),
  .action-show .btn:nth-child(8) {
    display: none;
  }
}

@media (max-width: 660px) {
  .chat-f-action-menu.show li:nth-child(1),
  .chat-f-action-menu.show li:nth-child(2),
  .chat-f-action-menu.show li:nth-child(3),
  .chat-f-action-menu.show li:nth-child(4),
  .chat-f-action-menu.show li:nth-child(5) {
    display: block;
  }
  .action-show .btn:nth-child(11),
  .action-show .btn:nth-child(10),
  .action-show .btn:nth-child(9),
  .action-show .btn:nth-child(8),
  .action-show .btn:nth-child(7) {
    display: none;
  }
}

@media (max-width: 560px) {
  .chat-f-action-menu.show li:nth-child(1),
  .chat-f-action-menu.show li:nth-child(2),
  .chat-f-action-menu.show li:nth-child(3),
  .chat-f-action-menu.show li:nth-child(4),
  .chat-f-action-menu.show li:nth-child(5),
  .chat-f-action-menu.show li:nth-child(6) {
    display: block;
  }
  .action-show .btn:nth-child(11),
  .action-show .btn:nth-child(10),
  .action-show .btn:nth-child(9),
  .action-show .btn:nth-child(8),
  .action-show .btn:nth-child(7),
  .action-show .btn:nth-child(6) {
    display: none;
  }
  .create-job-date-row {
    gap: 0;
    flex-wrap: wrap;
  }
  .create-job-type-select {
    gap: 20px;
    flex-wrap: wrap;
  }
  .create-job-date-row .date-time,
  .create-job-type-select .type-job-select,
  .create-job-type-select .name-select {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .chat-plugin-content {
    right: 10px;
    width: calc(100% - 20px);
  }
  .chat-content .user-chatting {
    margin-left: 0;
  }
  .chat-content .my-chatting {
    margin-right: 0;
  }
  .my-chatting-row {
    margin-left: 50px;
  }
  .user-chatting-row {
    margin-right: 50px;
  }
  .chat-content-top .user-info .meta {
    display: none;
  }
}
